<h2>Collaborative Recommendation System</h2>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/owais/Jupyter_Notebook/archive-2/rating.csv')

In [3]:
df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [4]:
len(df['anime_id'].unique())

11200

In [5]:
len(df['user_id'].unique())

73515

In [6]:
11200-9480

1720

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,7813737.0,36727.956745,20997.946119,1.0,18974.0,36791.0,54757.0,73516.0
anime_id,7813737.0,8909.072104,8883.949636,1.0,1240.0,6213.0,14093.0,34519.0
rating,7813737.0,6.144030,3.727800,-1.0,6.0,7.0,9.0,10.0

In [9]:
df = df.replace(np.nan, 0)

In [10]:
# rating_counts = pd.DataFrame(df["anime_id"])
# rating_counts.reset_index(drop=True)
# rating_counts['anime_id'] = pd.DataFrame(df['anime_id'].value_counts())
rating_counts = pd.DataFrame(df['anime_id'].value_counts())

In [11]:
# rare_movies = rating_counts[rating_counts["anime_id"] <= 1000].index
# common_movie = df[~df["anime_id"].isin(rare_movies)]
rating_counts.columns

Index(['count'], dtype='object')

In [12]:
rare_movies = rating_counts[rating_counts["count"] <= 1000].index
common_movie = df[~df["anime_id"].isin(rare_movies)]

In [13]:
common_movie

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[6607927 rows x 3 columns]

In [14]:
cm = df[~df["anime_id"].isin(rare_movies)]

In [15]:
cm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6607927 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 201.7 MB

In [16]:
len(cm['anime_id'].unique())

1720

In [17]:
cm

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[6607927 rows x 3 columns]

In [18]:
common_movie = common_movie.pivot_table(index = "user_id", columns = "anime_id")

common_movie.head()

         rating                                                        ...  \
anime_id  1     5     6     7     15    16    18    19    20    22     ...
user_id                                                                ...
1           NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  -1.0   NaN  ...
2           NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3           NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   8.0   NaN  ...
4           NaN   NaN  -1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5           NaN   NaN   8.0   NaN   6.0   NaN   6.0   NaN   6.0   5.0  ...


anime_id 32379 32380 32438 32542 32729 32828 32935 32998 33028 34240
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5          NaN   NaN   NaN   NaN   NaN   7.0   NaN   NaN   NaN   NaN

[5 rows x 1720 columns]

In [19]:
common_movie = common_movie.replace(np.nan, 0)

In [20]:
common_movie

         rating                                                        ...  \
anime_id  1     5     6     7     15    16    18    19    20    22     ...
user_id                                                                ...
1           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  -1.0   0.0  ...
2           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   8.0   0.0  ...
4           0.0   0.0  -1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5           0.0   0.0   8.0   0.0   6.0   0.0   6.0   0.0   6.0   5.0  ...
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
73512       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73513       9.0   8.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73514       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73515      10.0  10.0  10.0   0.0   0.0   0.0   0.0   9.0   0.0   0.0  ...
73516       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...


anime_id 32379 32380 32438 32542 32729 32828 32935 32998 33028 34240
user_id
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0   7.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
73512      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73513      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73514      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73515      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73516      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[73340 rows x 1720 columns]

In [21]:
# Calculate the non-zero counts for each row (axis=1)
non_zero_counts = common_movie.apply(lambda row: (row != 0).sum(), axis=1)

# Define a threshold (e.g., 10 non-zero values)
threshold = 10

# Select rows that meet the threshold
selected_rows = non_zero_counts[non_zero_counts >= threshold].index

# Create a new pivot table with selected rows
filtered_pivot_table = common_movie.loc[selected_rows]

In [22]:
filtered_pivot_table

         rating                                                        ...  \
anime_id  1     5     6     7     15    16    18    19    20    22     ...
user_id                                                                ...
1           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  -1.0   0.0  ...
3           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   8.0   0.0  ...
4           0.0   0.0  -1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5           0.0   0.0   8.0   0.0   6.0   0.0   6.0   0.0   6.0   5.0  ...
6           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  -1.0   0.0  ...
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
73510       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73511       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73512       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73513       9.0   8.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
73515      10.0  10.0  10.0   0.0   0.0   0.0   0.0   9.0   0.0   0.0  ...


anime_id 32379 32380 32438 32542 32729 32828 32935 32998 33028 34240
user_id
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0   7.0   0.0   0.0   0.0   0.0
6          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
73510      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73511      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73512      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73513      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73515      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[61202 rows x 1720 columns]

In [23]:
filtered_pivot_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61202 entries, 1 to 73515
Columns: 1720 entries, ('rating', np.int64(1)) to ('rating', np.int64(34240))
dtypes: float64(1720)
memory usage: 803.6 MB

In [24]:
# common_movie_reset['user_id'].unique()

In [25]:
# len(common_movie_reset['user_id'].unique())

In [26]:
my_ratings = np.array(common_movie.iloc[4])

In [27]:
already_watched=pd.DataFrame(common_movie.iloc[4][common_movie.iloc[4] != 0])

In [28]:
# common_movie.iloc[4][common_movie.iloc[4] != 0]

In [29]:
already_watched.reset_index(inplace=True)
already_watched.set_index(['anime_id'], inplace=True)
already_watched.drop('level_0',axis=1)

            5
anime_id
6         8.0
15        6.0
18        6.0
20        6.0
22        5.0
...       ...
31240     8.0
31636    -1.0
31964    -1.0
32182     9.0
32828     7.0

[400 rows x 1 columns]

In [30]:
aw=already_watched.index

In [31]:
# (common_movie.iloc[1721]) #observation

In [32]:
my_ratings

array([0., 0., 8., ..., 0., 0., 0.])

<h3>Vector of favorite anime</h3>

In [33]:
# list_movie = df["anime_id"]
list_movie = cm["anime_id"]
list_m=sorted(set(list_movie))

In [34]:
list_movie

0             20
1             24
2             79
3            226
4            241
           ...
7813732    16512
7813733    17187
7813734    22145
7813735      790
7813736     8074
Name: anime_id, Length: 6607927, dtype: int64

In [35]:
len(list_m)

1720

In [36]:
list_m

[1,
 5,
 6,
 7,
 15,
 16,
 18,
 19,
 20,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 31,
 32,
 33,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 71,
 72,
 73,
 74,
 76,
 77,
 79,
 80,
 81,
 85,
 90,
 91,
 93,
 94,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 109,
 114,
 119,
 120,
 121,
 122,
 123,
 125,
 129,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 142,
 143,
 144,
 145,
 146,
 147,
 149,
 150,
 153,
 154,
 155,
 156,
 157,
 158,
 160,
 161,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 174,
 177,
 180,
 181,
 182,
 185,
 186,
 187,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 198,
 199,
 202,
 204,
 205,
 207,
 208,
 209,
 210,
 218,
 223,
 225,
 226,
 227,
 228,
 229,
 232,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 245,
 246,
 248,
 249,
 250,
 251,
 256,
 257,
 263,
 264,
 265,
 267,
 268,
 269,
 270,
 272,
 274,
 276,
 277,
 288,
 291,
 297,
 298,
 299,
 304,
 306,
 317,
 320,
 322,
 323,
 325,
 326,
 329,
 330,
 335,
 339,
 341,
 343,
 355,
 356,
 357,
 368,
 369,
 371,
 372,
 376,
 379,
 382,
 384,
 387,
 389,
 390,
 392,
 393,
 394,
 395,
 400,
 401,
 405,
 408,
 411,
 412,
 413,
 416,
 417,
 419,
 427,
 430,
 431,
 433,
 435,
 437,
 440,
 442,
 443,
 448,
 449,
 450,
 451,
 452,
 457,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 474,
 476,
 477,
 478,
 479,
 481,
 482,
 486,
 487,
 488,
 490,
 502,
 507,
 508,
 509,
 512,
 513,
 514,
 517,
 521,
 522,
 523,
 524,
 527,
 528,
 529,
 530,
 531,
 532,
 534,
 535,
 536,
 538,
 539,
 543,
 548,
 550,
 552,
 553,
 558,
 563,
 564,
 565,
 567,
 570,
 572,
 576,
 578,
 579,
 584,
 585,
 586,
 587,
 591,
 594,
 596,
 597,
 601,
 617,
 618,
 627,
 634,
 644,
 651,
 656,
 658,
 659,
 664,
 667,
 670,
 687,
 696,
 710,
 713,
 719,
 721,
 731,
 732,
 740,
 741,
 743,
 746,
 756,
 759,
 761,
 762,
 763,
 770,
 777,
 779,
 780,
 781,
 789,
 790,
 793,
 801,
 807,
 813,
 819,
 834,
 837,
 845,
 846,
 849,
 850,
 853,
 855,
 856,
 857,
 859,
 860,
 861,
 863,
 873,
 874,
 877,
 880,
 881,
 885,
 886,
 889,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 916,
 918,
 934,
 935,
 936,
 940,
 949,
 953,
 957,
 962,
 963,
 969,
 974,
 981,
 984,
 985,
 986,
 987,
 990,
 995,
 996,
 997,
 1002,
 1003,
 1004,
 1015,
 1016,
 1023,
 1029,
 1030,
 1033,
 1051,
 1066,
 1067,
 1072,
 1074,
 1078,
 1088,
 1094,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1132,
 1138,
 1140,
 1142,
 1157,
 1172,
 1192,
 1195,
 1210,
 1212,
 1218,
 1222,
 1237,
 1239,
 1240,
 1250,
 1253,
 1254,
 1257,
 1281,
 1292,
 1303,
 1311,
 1313,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1379,
 1412,
 1430,
 1462,
 1469,
 1482,
 1498,
 1505,
 1506,
 1519,
 1526,
 1530,
 1531,
 1532,
 1535,
 1536,
 1546,
 1555,
 1557,
 1559,
 1562,
 1563,
 1564,
 1565,
 1566,
 1568,
 1569,
 1570,
 1571,
 1575,
 1579,
 1589,
 1593,
 1594,
 1604,
 1606,
 1614,
 1639,
 1668,
 1669,
 1681,
 1686,
 1689,
 1690,
 1691,
 1696,
 1698,
 1699,
 1709,
 1719,
 1722,
 1723,
 1726,
 1731,
 1808,
 1813,
 1815,
 1816,
 1817,
 1818,
 1827,
 1829,
 1836,
 1840,
 1842,
 1847,
 1852,
 1860,
 1887,
 1889,
 1894,
 1915,
 1943,
 1953,
 1956,
 1965,
 2001,
 2002,
 2006,
 2020,
 2025,
 2026,
 2031,
 2034,
 2104,
 2107,
 2112,
 2116,
 2124,
 2129,
 2130,
 2131,
 2144,
 2148,
 2154,
 2159,
 2164,
 2166,
 2167,
 2171,
 2201,
 2216,
 2236,
 2246,
 2248,
 2251,
 2273,
 2369,
 2385,
 2386,
 2397,
 2398,
 2403,
 2404,
 2418,
 2424,
 2472,
 2476,
 2490,
 2494,
 2508,
 2581,
 2593,
 2595,
 2596,
 2602,
 2605,
 2680,
 2685,
 2752,
 2759,
 2787,
 2795,
 2847,
 2889,
 2890,
 2899,
 2904,
 2923,
 2924,
 2926,
 2927,
 2951,
 2952,
 2961,
 2962,
 2963,
 2966,
 2969,
 2970,
 2985,
 2986,
 2993,
 2994,
 3001,
 3002,
 3086,
 3087,
 3089,
 3090,
 3091,
 3092,
 3121,
 3167,
 3210,
 3221,
 3225,
 3226,
 3228,
 3229,
 3230,
 3231,
 3247,
 3269,
 3297,
 3298,
 3299,
 3318,
 3328,
 3342,
 3352,
 3354,
 3358,
 3359,
 3366,
 3375,
 3389,
 3392,
 3407,
 3420,
 3446,
 3455,
 3456,
 3457,
 3464,
 3467,
 3470,
 3503,
 3515,
 3572,
 3588,
 3594,
 3613,
 3616,
 3652,
 3653,
 3654,
 3655,
 3656,
 3667,
 3701,
 3702,
 3712,
 3713,
 3731,
 3759,
 3782,
 3783,
 3784,
 3785,
 3791,
 3841,
 3848,
 3901,
 3927,
 3956,
 3958,
 3965,
 3972,
 3974,
 4015,
 4026,
 4028,
 4053,
 4059,
 4063,
 4081,
 4087,
 4106,
 4107,
 4134,
 4151,
 4155,
 4163,
 4177,
 4181,
 4182,
 4186,
 4192,
 4195,
 4196,
 4214,
 4224,
 4246,
 4262,
 4280,
 4282,
 4382,
 4415,
 4437,
 4447,
 4472,
 4477,
 4535,
 4548,
 4550,
 4551,
 4565,
 4581,
 4618,
 4654,
 4672,
 4705,
 4719,
 4720,
 4722,
 4725,
 4726,
 4744,
 4752,
 4760,
 4789,
 4793,
 4814,
 4835,
 4866,
 4872,
 4884,
 4896,
 4898,
 4901,
 4918,
 4938,
 4970,
 4975,
 4981,
 4999,
 5028,
 5030,
 5034,
 5039,
 5040,
 5042,
 5060,
 5074,
 5079,
 5081,
 5112,
 5114,
 5118,
 5150,
 5152,
 5162,
 5177,
 5178,
 5204,
 5205,
 5220,
 5231,
 5252,
 5258,
 5262,
 5277,
 5279,
 5300,
 5341,
 5342,
 5355,
 5356,
 5365,
 5391,
 5460,
 5507,
 5521,
 5525,
 5526,
 5530,
 5593,
 5630,
 5667,
 5671,
 5675,
 5678,
 5680,
 5681,
 5682,
 5690,
 5713,
 5717,
 5734,
 5764,
 5772,
 5774,
 5781,
 5835,
 5909,
 5940,
 5941,
 5955,
 5957,
 5958,
 5978,
 6007,
 6023,
 6030,
 6033,
 6045,
 6046,
 6064,
 6098,
 6114,
 6127,
 6151,
 6164,
 6166,
 6171,
 6178,
 6201,
 6203,
 6205,
 6211,
 6213,
 6280,
 6287,
 6288,
 6291,
 6324,
 6325,
 6347,
 6351,
 6361,
 6372,
 6377,
 6381,
 6408,
 6421,
 6444,
 6500,
 6512,
 6547,
 6548,
 6572,
 6573,
 6574,
 6586,
 6594,
 6610,
 6633,
 6634,
 6637,
 6645,
 6675,
 6676,
 6682,
 6702,
 6707,
 6746,
 6747,
 6772,
 6773,
 6791,
 6793,
 6802,
 6811,
 6862,
 6864,
 6867,
 6880,
 6884,
 6895,
 6896,
 6922,
 6945,
 6948,
 6954,
 6956,
 6974,
 6987,
 7017,
 7054,
 7058,
 7059,
 7079,
 7082,
 7088,
 7148,
 7193,
 7311,
 7337,
 7338,
 7367,
 7465,
 7472,
 7559,
 7580,
 7588,
 7590,
 7592,
 7593,
 7627,
 7647,
 7655,
 7661,
 7662,
 7674,
 7695,
 7711,
 7724,
 7739,
 7769,
 7785,
 7791,
 7805,
 7817,
 7858,
 7870,
 7902,
 8023,
 8038,
 8063,
 8074,
 8086,
 8100,
 8129,
 8142,
 8246,
 8247,
 8277,
 8302,
 8311,
 8407,
 8408,
 8422,
 8424,
 8425,
 8426,
 8440,
 8449,
 8460,
 8465,
 8476,
 8479,
 8514,
 8516,
 8525,
 8532,
 8536,
 8557,
 8577,
 8630,
 8634,
 8675,
 8676,
 8726,
 8740,
 8768,
 8769,
 8795,
 8841,
 8857,
 8861,
 8876,
 8888,
 8915,
 8917,
 8934,
 8937,
 9041,
 9047,
 9062,
 9063,
 9065,
 9074,
 9107,
 9117,
 9120,
 9130,
 9135,
 9136,
 9181,
 9201,
 9213,
 9252,
 9253,
 9289,
 9314,
 9330,
 9331,
 ...]

In [37]:
#example of anime favorite anime list
# anime_id_favorite = [32379,6,5,1,32438]
anime_id_favorite = [269,19815,1575,164,16498]
#example of vote of each anime
vote = [8,10,9,8,9] 
#creating the vector of favorit anime 
a = 1720
b = len(anime_id_favorite)
vector = []
for i in range(a):
    for j in range(b):
        if anime_id_favorite[j] == list_m[i]:
            vector.append(vote[j])
            break
        elif j==b-1:
            vector.append(0)

In [38]:
# [269,19815,1575,164,16498]
aw_custom=pd.Index(anime_id_favorite)

In [39]:
aw_custom

Index([269, 19815, 1575, 164, 16498], dtype='int64')

In [40]:
vector = np.array(vector).T
len(vector)

1720

In [41]:
vector

array([0, 0, 0, ..., 0, 0, 0])

<h2>Cosine Similarity</h2>

In [42]:
from scipy.spatial import distance

In [43]:
# len(vector)

In [44]:
len(common_movie.iloc[[2]].T)

1720

In [45]:
d = len(filtered_pivot_table)
score = []
for i in range(d):
    score.append(distance.cosine(np.squeeze(filtered_pivot_table.iloc[[i]]), vector))

# eg = np.squeeze(common_movie.iloc[[i]])
# eg.shape

In [46]:
score

[np.float64(1.0412498000360801),
 np.float64(0.8730027178891393),
 np.float64(1.0638153444717275),
 np.float64(0.9823575164419805),
 np.float64(1.0),
 np.float64(0.9270779343592599),
 np.float64(0.8756771471722054),
 np.float64(0.8998510352220542),
 np.float64(0.7760871862858287),
 np.float64(1.0328576038726762),
 np.float64(0.9032210246911953),
 np.float64(1.0),
 np.float64(0.8857420633426598),
 np.float64(1.0),
 np.float64(0.9060519636850841),
 np.float64(1.0),
 np.float64(0.8846449590399085),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.938303138041105),
 np.float64(0.8262647229596294),
 np.float64(1.0),
 np.float64(0.8921379751441656),
 np.float64(1.0),
 np.float64(0.9121276151994872),
 np.float64(0.833447879780456),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.6644843148972658),
 np.float64(0.9121284436829389),
 np.float64(1.049142922518217),
 np.float64(0.9034665631549642),
 np.float64(0.8434706912382716),
 np.float64(0.8244922116690854),
 np.float64(0.9313298396500527),
 np.float64(0.8457138638848236),
 np.float64(0.9322874660022332),
 np.float64(0.8616160589801456),
 np.float64(1.0),
 np.float64(0.8538960784908578),
 np.float64(0.917554849765418),
 np.float64(0.8895740848555269),
 np.float64(0.8456927998283792),
 np.float64(0.9093462898444125),
 np.float64(0.935355435867527),
 np.float64(1.0),
 np.float64(1.0681076953051925),
 np.float64(0.9211140665729725),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8521062346810346),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9278910475933015),
 np.float64(0.9156057673518725),
 np.float64(0.9394772467331197),
 np.float64(0.8879218565274585),
 np.float64(0.9411530497865958),
 np.float64(0.9314446590597507),
 np.float64(0.9134094987770542),
 np.float64(0.8415888981692383),
 np.float64(0.8568793810883922),
 np.float64(1.0164770510914327),
 np.float64(1.0),
 np.float64(0.8713563531925151),
 np.float64(1.0),
 np.float64(1.0620173672946043),
 np.float64(0.8728246485370539),
 np.float64(0.9029961114066849),
 np.float64(1.0),
 np.float64(0.9566061081794829),
 np.float64(1.0),
 np.float64(0.8473537294962304),
 np.float64(0.9641030908816978),
 np.float64(0.8702998968471906),
 np.float64(0.8411326910439894),
 np.float64(0.9008808168232855),
 np.float64(0.7563373383039043),
 np.float64(1.0),
 np.float64(0.879505763307912),
 np.float64(0.9478790185432678),
 np.float64(0.9518325380699317),
 np.float64(0.9548136741114156),
 np.float64(0.9123914868423701),
 np.float64(0.9401835294757552),
 np.float64(0.8738569002298633),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7489342514006102),
 np.float64(0.9232111286191955),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9363831083135874),
 np.float64(0.8081860688227513),
 np.float64(0.9613756360331785),
 np.float64(0.9527388295360956),
 np.float64(0.855703227527053),
 np.float64(1.0),
 np.float64(0.8643730421885847),
 np.float64(0.9477916753957384),
 np.float64(0.9004323648418162),
 np.float64(1.257801354654196),
 np.float64(0.9019480604856319),
 np.float64(1.0),
 np.float64(0.8636108337948192),
 np.float64(0.7422304556460352),
 np.float64(0.8604899310517571),
 np.float64(0.7782225724885646),
 np.float64(1.0),
 np.float64(0.8836416575177821),
 np.float64(1.0658556173883649),
 np.float64(1.0),
 np.float64(0.8995430811189306),
 np.float64(0.8708798616120351),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8425106311747758),
 np.float64(0.9318143295359583),
 np.float64(1.0),
 np.float64(0.8353033240480641),
 np.float64(0.8911932905734213),
 np.float64(1.0),
 np.float64(0.8351114734699383),
 np.float64(0.9250903662844789),
 np.float64(0.9468818672836848),
 np.float64(0.8350908516939488),
 np.float64(0.9239289001657068),
 np.float64(0.9466285814662094),
 np.float64(0.8100611358996547),
 np.float64(0.9358518711817112),
 np.float64(1.0),
 np.float64(0.8672298981847505),
 np.float64(0.9585469970138308),
 np.float64(0.8729004577458886),
 np.float64(1.0356957411572112),
 np.float64(0.7471520546885688),
 np.float64(0.8887116395234793),
 np.float64(0.8241396476283369),
 np.float64(0.883375260309773),
 np.float64(0.9186712118023125),
 np.float64(0.8167562409992326),
 np.float64(1.0),
 np.float64(1.0248848339130001),
 np.float64(0.8806993551247615),
 np.float64(1.0),
 np.float64(0.8176858902896813),
 np.float64(0.8535701049988511),
 np.float64(0.9375530267972492),
 np.float64(1.0638153444717275),
 np.float64(0.8841118675285738),
 np.float64(0.9537834453771723),
 np.float64(0.8784395427417592),
 np.float64(1.0),
 np.float64(0.8691794542850528),
 np.float64(0.9153040812867278),
 np.float64(1.0435074339412365),
 np.float64(0.814752498074665),
 np.float64(0.9462682916411957),
 np.float64(0.846401291793497),
 np.float64(1.0120096115353816),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7005752641918288),
 np.float64(0.9161070239141534),
 np.float64(0.7386917815563945),
 np.float64(1.0),
 np.float64(0.8842291856105827),
 np.float64(1.0),
 np.float64(0.9262856162226745),
 np.float64(0.8825015798724541),
 np.float64(1.0),
 np.float64(0.8929967871167663),
 np.float64(1.0),
 np.float64(1.1105314189275417),
 np.float64(0.8726924856835903),
 np.float64(0.8954743884548906),
 np.float64(0.9201574009128944),
 np.float64(0.9130338904819496),
 np.float64(0.789874932117693),
 np.float64(0.8553279225436576),
 np.float64(1.0),
 np.float64(0.8883076403993722),
 np.float64(0.925277645589442),
 np.float64(0.9004874835147674),
 np.float64(0.8822411510810103),
 np.float64(0.8923114828767822),
 np.float64(0.779457128329271),
 np.float64(0.8099463198520149),
 np.float64(1.131275109759835),
 np.float64(0.750947973211629),
 np.float64(0.8824604845333506),
 np.float64(0.8867285877619033),
 np.float64(0.9028227337114696),
 np.float64(0.9159977006239269),
 np.float64(0.8461508784711683),
 np.float64(0.9351725654480687),
 np.float64(0.8905072937792807),
 np.float64(0.8610913436202894),
 np.float64(0.8737728989346023),
 np.float64(0.8582788029614448),
 np.float64(0.9428345737338236),
 np.float64(1.0),
 np.float64(0.892649841789233),
 np.float64(0.9418392608081665),
 np.float64(0.9107574390393067),
 np.float64(1.0318825356304118),
 np.float64(0.8818964758191808),
 np.float64(0.8777643473720169),
 np.float64(0.9140038452858353),
 np.float64(0.7591926793461765),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0201449517377896),
 np.float64(1.0727573439597866),
 np.float64(0.885079943303716),
 np.float64(0.8952373393463366),
 np.float64(0.8787404428896186),
 np.float64(0.9748134975418363),
 np.float64(0.8376761751614442),
 np.float64(0.7796527009099078),
 np.float64(1.1746051094567744),
 np.float64(0.8524759018388436),
 np.float64(0.8197330969757799),
 np.float64(1.0),
 np.float64(0.8950047246810864),
 np.float64(0.8403180240532493),
 np.float64(0.875904059024343),
 np.float64(0.8617218092217407),
 np.float64(0.9114120012352208),
 np.float64(0.7239313775494352),
 np.float64(1.108058665758228),
 np.float64(0.902699148917896),
 np.float64(0.8748755943321181),
 np.float64(1.0),
 np.float64(0.8878987110265292),
 np.float64(0.9100896549176032),
 np.float64(0.9368908100743083),
 np.float64(0.8369012973007409),
 np.float64(0.9124722899586009),
 np.float64(0.8915306354696116),
 np.float64(0.9216508821814497),
 np.float64(1.0),
 np.float64(0.7778128603596165),
 np.float64(0.908199123620902),
 np.float64(0.9093651110996706),
 np.float64(1.0),
 np.float64(0.9006162148429798),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8277492244710356),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7908967088281812),
 np.float64(1.0857856413207598),
 np.float64(0.9018652346737231),
 np.float64(0.8195370594747848),
 np.float64(0.9199243372386442),
 np.float64(0.8395567242121971),
 np.float64(0.7826261756042403),
 np.float64(0.9325953842397595),
 np.float64(1.0),
 np.float64(0.9153725593348833),
 np.float64(0.9153980819258714),
 np.float64(0.895977748746622),
 np.float64(0.8960352679520517),
 np.float64(0.8910013576152391),
 np.float64(1.0),
 np.float64(0.8513165952711695),
 np.float64(0.9648143160658744),
 np.float64(0.8720679394706199),
 np.float64(1.126397513270423),
 np.float64(1.0),
 np.float64(0.7714900518514721),
 np.float64(0.7891201802331738),
 np.float64(0.9437238507114969),
 np.float64(0.8619031399936026),
 np.float64(0.7310407289533476),
 np.float64(0.9391086485741368),
 np.float64(1.0),
 np.float64(1.0234714289714897),
 np.float64(0.8783976272105511),
 np.float64(0.9235314624548203),
 np.float64(0.8506534976746561),
 np.float64(0.9321124570528955),
 np.float64(1.0),
 np.float64(0.828907810180202),
 np.float64(0.8009897551027889),
 np.float64(0.8303266881639049),
 np.float64(0.8763486812727743),
 np.float64(0.908943345093841),
 np.float64(1.0),
 np.float64(0.8690157648137953),
 np.float64(0.9132674893400364),
 np.float64(0.9499163248455891),
 np.float64(0.9061715095089985),
 np.float64(0.7489495807087488),
 np.float64(0.8358718716909108),
 np.float64(0.9327546926014121),
 np.float64(1.0),
 np.float64(0.9161154823744494),
 np.float64(0.9095555287444308),
 np.float64(0.7645867918398979),
 np.float64(0.9618647063366391),
 np.float64(1.044356073071368),
 np.float64(0.9357293678685163),
 np.float64(0.8332286352685863),
 np.float64(0.9195375918978891),
 np.float64(0.8218892873936998),
 np.float64(0.8904563308153683),
 np.float64(1.0707151881596784),
 np.float64(0.8659227887144244),
 np.float64(1.0243175161360127),
 np.float64(0.9074066864380648),
 np.float64(1.0),
 np.float64(0.9185924364610613),
 np.float64(1.0),
 np.float64(1.1158235180269138),
 np.float64(0.769320719564338),
 np.float64(1.0),
 np.float64(0.8289202154463396),
 np.float64(0.8474040546090273),
 np.float64(0.8470278282059128),
 np.float64(1.0),
 np.float64(0.9218783773775164),
 np.float64(0.7688215467847271),
 np.float64(0.8938132825918097),
 np.float64(0.9536601238855242),
 np.float64(1.0279369475814646),
 np.float64(0.8792879429124772),
 np.float64(1.0617765222399225),
 np.float64(1.0),
 np.float64(1.071087621646874),
 np.float64(0.838611219217275),
 np.float64(0.7917604260281415),
 np.float64(0.9332577592035042),
 np.float64(0.9061463307911184),
 np.float64(0.8265418476714254),
 np.float64(0.7638431543019433),
 np.float64(1.0668382671221361),
 np.float64(1.0),
 np.float64(0.8768289958952298),
 np.float64(0.7797788318038347),
 np.float64(0.9332017720778161),
 np.float64(0.7584457086464611),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8629048583460657),
 np.float64(0.8528226888241105),
 np.float64(0.9217621908618362),
 np.float64(0.9017564557380823),
 np.float64(1.0),
 np.float64(0.946605634766004),
 np.float64(1.0),
 np.float64(0.9263885574662545),
 np.float64(1.0),
 np.float64(1.01364200199246),
 np.float64(1.0476286042545992),
 np.float64(0.8598630166807504),
 np.float64(0.8397052886910257),
 np.float64(0.8956671620532619),
 np.float64(0.8903536460684701),
 np.float64(0.8414231975456463),
 np.float64(0.8240909221233035),
 np.float64(0.8233318209258957),
 np.float64(0.8297390599220809),
 np.float64(0.9653747299570946),
 np.float64(1.1297747735173975),
 np.float64(0.9281214420080977),
 np.float64(0.9256323212839153),
 np.float64(1.0),
 np.float64(0.7950922659166338),
 np.float64(0.9087666001130468),
 np.float64(0.8690852495896662),
 np.float64(0.8086002935143317),
 np.float64(0.9146364554921738),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8098442227830619),
 np.float64(1.0127781108192997),
 np.float64(0.9244837813601734),
 np.float64(1.0846274406651166),
 np.float64(0.9498610767936267),
 np.float64(1.0174581773698288),
 np.float64(0.9482717435997751),
 np.float64(0.858663640858389),
 np.float64(0.9277650529810623),
 np.float64(0.7838344477403494),
 np.float64(0.9181211382456956),
 np.float64(0.8954561547331655),
 np.float64(0.928356278064681),
 np.float64(0.8435455080873295),
 np.float64(1.0),
 np.float64(0.891001779983368),
 np.float64(1.0526234811584216),
 np.float64(1.0),
 np.float64(0.8951953227447083),
 np.float64(1.0363786719798933),
 np.float64(0.781708325555989),
 np.float64(1.0),
 np.float64(0.8754472455941663),
 np.float64(1.0),
 np.float64(1.1030381442920993),
 np.float64(0.9296463044449931),
 np.float64(0.8410298081793588),
 np.float64(0.7037646512095004),
 np.float64(1.0),
 np.float64(0.807608524027657),
 np.float64(0.8577224016938819),
 np.float64(0.8682547971415251),
 np.float64(0.895116007463091),
 np.float64(0.8776982357926332),
 np.float64(0.9410574939310482),
 np.float64(0.7542825176897926),
 np.float64(0.9155007056888642),
 np.float64(1.0),
 np.float64(0.9543302921234624),
 np.float64(0.886780040239182),
 np.float64(1.0),
 np.float64(0.9085305897561766),
 np.float64(1.1374085837243033),
 np.float64(0.9601976366423983),
 np.float64(0.9107574390393067),
 np.float64(1.0),
 np.float64(0.9537856559224864),
 np.float64(1.0519355629343006),
 np.float64(0.9057769815897974),
 np.float64(1.1139331787969124),
 np.float64(0.9563243530690745),
 np.float64(0.9144316013732551),
 np.float64(0.9092285326466274),
 np.float64(0.9190998807804891),
 np.float64(0.9177741377834988),
 np.float64(0.8072238158831408),
 np.float64(0.9611716765394042),
 np.float64(1.0),
 np.float64(0.835410921158589),
 np.float64(0.930828326613744),
 np.float64(0.8994172685277431),
 np.float64(1.0),
 np.float64(0.8279798793785617),
 np.float64(0.8386723676056287),
 np.float64(1.0),
 np.float64(1.0601313999205928),
 np.float64(0.7718248012962219),
 np.float64(0.7732628393448264),
 np.float64(0.9338970885502061),
 np.float64(0.9304123480219525),
 np.float64(0.9045915459993008),
 np.float64(0.921197688790411),
 np.float64(1.0),
 np.float64(0.9436765776855547),
 np.float64(0.8348294600566224),
 np.float64(0.9254026808370536),
 np.float64(1.291902553246312),
 np.float64(0.8510624473271173),
 np.float64(0.9259163981010651),
 np.float64(0.8735759085715474),
 np.float64(0.968475377827612),
 np.float64(1.0),
 np.float64(0.8770980264401946),
 np.float64(0.7734746671521752),
 np.float64(0.8280871005884711),
 np.float64(1.0),
 np.float64(0.887990300993052),
 np.float64(0.9169941321967101),
 np.float64(0.8743933571554872),
 np.float64(0.8838188838664096),
 np.float64(0.9197492366816258),
 np.float64(0.8887840801788708),
 np.float64(1.0),
 np.float64(0.9061741793136855),
 np.float64(0.8546743614982741),
 np.float64(1.0),
 np.float64(0.8638372752712054),
 np.float64(0.9167746185786712),
 np.float64(1.0070212506382492),
 np.float64(0.7979605306817777),
 np.float64(0.9033752732501463),
 np.float64(0.8733502843240644),
 np.float64(0.9158507544496948),
 np.float64(0.8385383575340459),
 np.float64(1.0),
 np.float64(0.8032970906135564),
 np.float64(0.8060397494893992),
 np.float64(0.94721129557425),
 np.float64(0.8985181050923852),
 np.float64(1.067032850432399),
 np.float64(1.0),
 np.float64(0.9042206259035359),
 np.float64(0.8652085493800017),
 np.float64(0.8214344073461662),
 np.float64(1.0),
 np.float64(0.8411656843277202),
 np.float64(0.8945880668865274),
 np.float64(1.0),
 np.float64(0.8754597360131353),
 np.float64(0.791025641025641),
 np.float64(0.9109190612815468),
 np.float64(0.7932146499495791),
 np.float64(0.8612767747917942),
 np.float64(1.0),
 np.float64(0.8823490075902107),
 np.float64(0.8941591958995644),
 np.float64(0.924044547468725),
 np.float64(0.7806865867369288),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9271406296649393),
 np.float64(0.8359084251611597),
 np.float64(1.0),
 np.float64(0.8865749167750194),
 np.float64(0.8513380445223753),
 np.float64(1.0),
 np.float64(0.6241463578241326),
 np.float64(0.9318500756304015),
 np.float64(0.8141122160479342),
 np.float64(0.8980691420343538),
 np.float64(0.7876986432856097),
 np.float64(0.905516038113332),
 np.float64(0.9630351956432391),
 np.float64(1.0),
 np.float64(0.836281000193648),
 np.float64(0.8864810503171918),
 np.float64(0.8603671444508152),
 np.float64(0.9445176495960371),
 np.float64(0.8561065482942779),
 np.float64(1.0620173672946043),
 np.float64(0.9437204668492215),
 np.float64(0.8459342226960713),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8227333935024578),
 np.float64(0.8994746079878929),
 np.float64(0.8422666336725003),
 np.float64(0.7572720934480751),
 np.float64(1.0148815641048208),
 np.float64(0.8836018918644665),
 np.float64(0.9413191278335558),
 np.float64(1.0),
 np.float64(0.8535217461119802),
 np.float64(0.8883010215314686),
 np.float64(1.0),
 np.float64(0.8159681639414713),
 np.float64(1.0),
 np.float64(0.8475243757084028),
 np.float64(0.9204163273926126),
 np.float64(1.0),
 np.float64(0.8631363066113699),
 np.float64(1.0),
 np.float64(0.9285787593976387),
 np.float64(0.8021240609616099),
 np.float64(0.886981396862625),
 np.float64(0.9639742924896914),
 np.float64(0.8025632025652538),
 np.float64(0.8867509933426265),
 np.float64(0.9020779603091685),
 np.float64(0.8753120612200495),
 np.float64(0.8756614282690275),
 np.float64(0.9543839433632041),
 np.float64(0.9152171181962716),
 np.float64(0.9079615327649414),
 np.float64(0.9076731736199972),
 np.float64(0.8849428867597227),
 np.float64(0.9417257802210213),
 np.float64(1.0),
 np.float64(0.8904194066430802),
 np.float64(0.8319570007153635),
 np.float64(1.0),
 np.float64(0.9233756546012689),
 np.float64(0.7725907209035807),
 np.float64(0.9187293683164208),
 np.float64(1.0),
 np.float64(0.9351840403458578),
 np.float64(0.9012147467312017),
 np.float64(1.179495142361986),
 np.float64(0.9062881237053705),
 np.float64(0.8757399296724482),
 np.float64(0.8549818883004602),
 np.float64(0.9383523729277833),
 np.float64(1.0602700475566316),
 np.float64(0.880753922115173),
 np.float64(0.8387686050667273),
 np.float64(0.8890155444211136),
 np.float64(0.8398415790830642),
 np.float64(0.8660067503449382),
 np.float64(0.931392190455015),
 np.float64(0.9386018762563998),
 np.float64(0.8802361013693416),
 np.float64(0.8666288144203422),
 np.float64(1.0),
 np.float64(1.0100000781259155),
 np.float64(0.8903042478695026),
 np.float64(0.9372283278481051),
 np.float64(0.8707195421658228),
 np.float64(0.836508320713889),
 np.float64(0.8114164606409775),
 np.float64(0.932976546115199),
 np.float64(0.9247211083157144),
 np.float64(1.0),
 np.float64(0.9250977699138234),
 np.float64(0.9502339952251919),
 np.float64(0.9013463862510279),
 np.float64(0.7973019242093308),
 np.float64(1.0),
 np.float64(0.8974926679868763),
 np.float64(0.9095759411513569),
 np.float64(0.9668082101227693),
 np.float64(0.9671462384478505),
 np.float64(0.9556515703008188),
 np.float64(0.6754059375753996),
 np.float64(1.0),
 np.float64(0.9152507319149168),
 np.float64(0.8712927409918365),
 np.float64(0.9193780057179888),
 np.float64(0.9244697530912193),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8568656580072648),
 np.float64(1.0),
 np.float64(0.9353001162604037),
 np.float64(0.8539177166770812),
 np.float64(0.8622626201116501),
 np.float64(0.8923214031417495),
 np.float64(1.0693675342783266),
 np.float64(0.9203536357735423),
 np.float64(0.9304983538537819),
 np.float64(1.0),
 np.float64(0.9022458872944584),
 np.float64(0.8558035594543502),
 np.float64(0.9225510891221333),
 np.float64(0.9038448699693211),
 np.float64(0.9291061372307273),
 np.float64(0.8155474905588267),
 np.float64(0.7344510945619411),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0224361783393279),
 np.float64(0.8256686162693112),
 np.float64(0.8824832360461291),
 np.float64(0.8941308323491605),
 np.float64(1.0921777197924953),
 np.float64(1.0792456832501092),
 np.float64(0.8793074391213036),
 np.float64(0.8800209944891073),
 np.float64(1.0672194096273104),
 np.float64(0.8613249509436927),
 np.float64(0.868986055977656),
 np.float64(0.9222592692515963),
 np.float64(0.913472614204663),
 np.float64(0.900291210153708),
 np.float64(0.8403993816212072),
 np.float64(0.9141715381979026),
 np.float64(0.8183194461322199),
 np.float64(0.8426660469888567),
 np.float64(0.8797372001588146),
 np.float64(0.7925408578494946),
 np.float64(1.0749219968587704),
 np.float64(1.1974875933512414),
 np.float64(0.8873961454290153),
 np.float64(0.8647615616787103),
 np.float64(0.8969562928003388),
 np.float64(1.0),

In [47]:
len(score)

61202

In [48]:
type(score)

list

In [49]:
# score.pop(4)

In [50]:
score

[np.float64(1.0412498000360801),
 np.float64(0.8730027178891393),
 np.float64(1.0638153444717275),
 np.float64(0.9823575164419805),
 np.float64(1.0),
 np.float64(0.9270779343592599),
 np.float64(0.8756771471722054),
 np.float64(0.8998510352220542),
 np.float64(0.7760871862858287),
 np.float64(1.0328576038726762),
 np.float64(0.9032210246911953),
 np.float64(1.0),
 np.float64(0.8857420633426598),
 np.float64(1.0),
 np.float64(0.9060519636850841),
 np.float64(1.0),
 np.float64(0.8846449590399085),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.938303138041105),
 np.float64(0.8262647229596294),
 np.float64(1.0),
 np.float64(0.8921379751441656),
 np.float64(1.0),
 np.float64(0.9121276151994872),
 np.float64(0.833447879780456),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.6644843148972658),
 np.float64(0.9121284436829389),
 np.float64(1.049142922518217),
 np.float64(0.9034665631549642),
 np.float64(0.8434706912382716),
 np.float64(0.8244922116690854),
 np.float64(0.9313298396500527),
 np.float64(0.8457138638848236),
 np.float64(0.9322874660022332),
 np.float64(0.8616160589801456),
 np.float64(1.0),
 np.float64(0.8538960784908578),
 np.float64(0.917554849765418),
 np.float64(0.8895740848555269),
 np.float64(0.8456927998283792),
 np.float64(0.9093462898444125),
 np.float64(0.935355435867527),
 np.float64(1.0),
 np.float64(1.0681076953051925),
 np.float64(0.9211140665729725),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8521062346810346),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9278910475933015),
 np.float64(0.9156057673518725),
 np.float64(0.9394772467331197),
 np.float64(0.8879218565274585),
 np.float64(0.9411530497865958),
 np.float64(0.9314446590597507),
 np.float64(0.9134094987770542),
 np.float64(0.8415888981692383),
 np.float64(0.8568793810883922),
 np.float64(1.0164770510914327),
 np.float64(1.0),
 np.float64(0.8713563531925151),
 np.float64(1.0),
 np.float64(1.0620173672946043),
 np.float64(0.8728246485370539),
 np.float64(0.9029961114066849),
 np.float64(1.0),
 np.float64(0.9566061081794829),
 np.float64(1.0),
 np.float64(0.8473537294962304),
 np.float64(0.9641030908816978),
 np.float64(0.8702998968471906),
 np.float64(0.8411326910439894),
 np.float64(0.9008808168232855),
 np.float64(0.7563373383039043),
 np.float64(1.0),
 np.float64(0.879505763307912),
 np.float64(0.9478790185432678),
 np.float64(0.9518325380699317),
 np.float64(0.9548136741114156),
 np.float64(0.9123914868423701),
 np.float64(0.9401835294757552),
 np.float64(0.8738569002298633),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7489342514006102),
 np.float64(0.9232111286191955),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9363831083135874),
 np.float64(0.8081860688227513),
 np.float64(0.9613756360331785),
 np.float64(0.9527388295360956),
 np.float64(0.855703227527053),
 np.float64(1.0),
 np.float64(0.8643730421885847),
 np.float64(0.9477916753957384),
 np.float64(0.9004323648418162),
 np.float64(1.257801354654196),
 np.float64(0.9019480604856319),
 np.float64(1.0),
 np.float64(0.8636108337948192),
 np.float64(0.7422304556460352),
 np.float64(0.8604899310517571),
 np.float64(0.7782225724885646),
 np.float64(1.0),
 np.float64(0.8836416575177821),
 np.float64(1.0658556173883649),
 np.float64(1.0),
 np.float64(0.8995430811189306),
 np.float64(0.8708798616120351),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8425106311747758),
 np.float64(0.9318143295359583),
 np.float64(1.0),
 np.float64(0.8353033240480641),
 np.float64(0.8911932905734213),
 np.float64(1.0),
 np.float64(0.8351114734699383),
 np.float64(0.9250903662844789),
 np.float64(0.9468818672836848),
 np.float64(0.8350908516939488),
 np.float64(0.9239289001657068),
 np.float64(0.9466285814662094),
 np.float64(0.8100611358996547),
 np.float64(0.9358518711817112),
 np.float64(1.0),
 np.float64(0.8672298981847505),
 np.float64(0.9585469970138308),
 np.float64(0.8729004577458886),
 np.float64(1.0356957411572112),
 np.float64(0.7471520546885688),
 np.float64(0.8887116395234793),
 np.float64(0.8241396476283369),
 np.float64(0.883375260309773),
 np.float64(0.9186712118023125),
 np.float64(0.8167562409992326),
 np.float64(1.0),
 np.float64(1.0248848339130001),
 np.float64(0.8806993551247615),
 np.float64(1.0),
 np.float64(0.8176858902896813),
 np.float64(0.8535701049988511),
 np.float64(0.9375530267972492),
 np.float64(1.0638153444717275),
 np.float64(0.8841118675285738),
 np.float64(0.9537834453771723),
 np.float64(0.8784395427417592),
 np.float64(1.0),
 np.float64(0.8691794542850528),
 np.float64(0.9153040812867278),
 np.float64(1.0435074339412365),
 np.float64(0.814752498074665),
 np.float64(0.9462682916411957),
 np.float64(0.846401291793497),
 np.float64(1.0120096115353816),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7005752641918288),
 np.float64(0.9161070239141534),
 np.float64(0.7386917815563945),
 np.float64(1.0),
 np.float64(0.8842291856105827),
 np.float64(1.0),
 np.float64(0.9262856162226745),
 np.float64(0.8825015798724541),
 np.float64(1.0),
 np.float64(0.8929967871167663),
 np.float64(1.0),
 np.float64(1.1105314189275417),
 np.float64(0.8726924856835903),
 np.float64(0.8954743884548906),
 np.float64(0.9201574009128944),
 np.float64(0.9130338904819496),
 np.float64(0.789874932117693),
 np.float64(0.8553279225436576),
 np.float64(1.0),
 np.float64(0.8883076403993722),
 np.float64(0.925277645589442),
 np.float64(0.9004874835147674),
 np.float64(0.8822411510810103),
 np.float64(0.8923114828767822),
 np.float64(0.779457128329271),
 np.float64(0.8099463198520149),
 np.float64(1.131275109759835),
 np.float64(0.750947973211629),
 np.float64(0.8824604845333506),
 np.float64(0.8867285877619033),
 np.float64(0.9028227337114696),
 np.float64(0.9159977006239269),
 np.float64(0.8461508784711683),
 np.float64(0.9351725654480687),
 np.float64(0.8905072937792807),
 np.float64(0.8610913436202894),
 np.float64(0.8737728989346023),
 np.float64(0.8582788029614448),
 np.float64(0.9428345737338236),
 np.float64(1.0),
 np.float64(0.892649841789233),
 np.float64(0.9418392608081665),
 np.float64(0.9107574390393067),
 np.float64(1.0318825356304118),
 np.float64(0.8818964758191808),
 np.float64(0.8777643473720169),
 np.float64(0.9140038452858353),
 np.float64(0.7591926793461765),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0201449517377896),
 np.float64(1.0727573439597866),
 np.float64(0.885079943303716),
 np.float64(0.8952373393463366),
 np.float64(0.8787404428896186),
 np.float64(0.9748134975418363),
 np.float64(0.8376761751614442),
 np.float64(0.7796527009099078),
 np.float64(1.1746051094567744),
 np.float64(0.8524759018388436),
 np.float64(0.8197330969757799),
 np.float64(1.0),
 np.float64(0.8950047246810864),
 np.float64(0.8403180240532493),
 np.float64(0.875904059024343),
 np.float64(0.8617218092217407),
 np.float64(0.9114120012352208),
 np.float64(0.7239313775494352),
 np.float64(1.108058665758228),
 np.float64(0.902699148917896),
 np.float64(0.8748755943321181),
 np.float64(1.0),
 np.float64(0.8878987110265292),
 np.float64(0.9100896549176032),
 np.float64(0.9368908100743083),
 np.float64(0.8369012973007409),
 np.float64(0.9124722899586009),
 np.float64(0.8915306354696116),
 np.float64(0.9216508821814497),
 np.float64(1.0),
 np.float64(0.7778128603596165),
 np.float64(0.908199123620902),
 np.float64(0.9093651110996706),
 np.float64(1.0),
 np.float64(0.9006162148429798),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8277492244710356),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.7908967088281812),
 np.float64(1.0857856413207598),
 np.float64(0.9018652346737231),
 np.float64(0.8195370594747848),
 np.float64(0.9199243372386442),
 np.float64(0.8395567242121971),
 np.float64(0.7826261756042403),
 np.float64(0.9325953842397595),
 np.float64(1.0),
 np.float64(0.9153725593348833),
 np.float64(0.9153980819258714),
 np.float64(0.895977748746622),
 np.float64(0.8960352679520517),
 np.float64(0.8910013576152391),
 np.float64(1.0),
 np.float64(0.8513165952711695),
 np.float64(0.9648143160658744),
 np.float64(0.8720679394706199),
 np.float64(1.126397513270423),
 np.float64(1.0),
 np.float64(0.7714900518514721),
 np.float64(0.7891201802331738),
 np.float64(0.9437238507114969),
 np.float64(0.8619031399936026),
 np.float64(0.7310407289533476),
 np.float64(0.9391086485741368),
 np.float64(1.0),
 np.float64(1.0234714289714897),
 np.float64(0.8783976272105511),
 np.float64(0.9235314624548203),
 np.float64(0.8506534976746561),
 np.float64(0.9321124570528955),
 np.float64(1.0),
 np.float64(0.828907810180202),
 np.float64(0.8009897551027889),
 np.float64(0.8303266881639049),
 np.float64(0.8763486812727743),
 np.float64(0.908943345093841),
 np.float64(1.0),
 np.float64(0.8690157648137953),
 np.float64(0.9132674893400364),
 np.float64(0.9499163248455891),
 np.float64(0.9061715095089985),
 np.float64(0.7489495807087488),
 np.float64(0.8358718716909108),
 np.float64(0.9327546926014121),
 np.float64(1.0),
 np.float64(0.9161154823744494),
 np.float64(0.9095555287444308),
 np.float64(0.7645867918398979),
 np.float64(0.9618647063366391),
 np.float64(1.044356073071368),
 np.float64(0.9357293678685163),
 np.float64(0.8332286352685863),
 np.float64(0.9195375918978891),
 np.float64(0.8218892873936998),
 np.float64(0.8904563308153683),
 np.float64(1.0707151881596784),
 np.float64(0.8659227887144244),
 np.float64(1.0243175161360127),
 np.float64(0.9074066864380648),
 np.float64(1.0),
 np.float64(0.9185924364610613),
 np.float64(1.0),
 np.float64(1.1158235180269138),
 np.float64(0.769320719564338),
 np.float64(1.0),
 np.float64(0.8289202154463396),
 np.float64(0.8474040546090273),
 np.float64(0.8470278282059128),
 np.float64(1.0),
 np.float64(0.9218783773775164),
 np.float64(0.7688215467847271),
 np.float64(0.8938132825918097),
 np.float64(0.9536601238855242),
 np.float64(1.0279369475814646),
 np.float64(0.8792879429124772),
 np.float64(1.0617765222399225),
 np.float64(1.0),
 np.float64(1.071087621646874),
 np.float64(0.838611219217275),
 np.float64(0.7917604260281415),
 np.float64(0.9332577592035042),
 np.float64(0.9061463307911184),
 np.float64(0.8265418476714254),
 np.float64(0.7638431543019433),
 np.float64(1.0668382671221361),
 np.float64(1.0),
 np.float64(0.8768289958952298),
 np.float64(0.7797788318038347),
 np.float64(0.9332017720778161),
 np.float64(0.7584457086464611),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8629048583460657),
 np.float64(0.8528226888241105),
 np.float64(0.9217621908618362),
 np.float64(0.9017564557380823),
 np.float64(1.0),
 np.float64(0.946605634766004),
 np.float64(1.0),
 np.float64(0.9263885574662545),
 np.float64(1.0),
 np.float64(1.01364200199246),
 np.float64(1.0476286042545992),
 np.float64(0.8598630166807504),
 np.float64(0.8397052886910257),
 np.float64(0.8956671620532619),
 np.float64(0.8903536460684701),
 np.float64(0.8414231975456463),
 np.float64(0.8240909221233035),
 np.float64(0.8233318209258957),
 np.float64(0.8297390599220809),
 np.float64(0.9653747299570946),
 np.float64(1.1297747735173975),
 np.float64(0.9281214420080977),
 np.float64(0.9256323212839153),
 np.float64(1.0),
 np.float64(0.7950922659166338),
 np.float64(0.9087666001130468),
 np.float64(0.8690852495896662),
 np.float64(0.8086002935143317),
 np.float64(0.9146364554921738),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8098442227830619),
 np.float64(1.0127781108192997),
 np.float64(0.9244837813601734),
 np.float64(1.0846274406651166),
 np.float64(0.9498610767936267),
 np.float64(1.0174581773698288),
 np.float64(0.9482717435997751),
 np.float64(0.858663640858389),
 np.float64(0.9277650529810623),
 np.float64(0.7838344477403494),
 np.float64(0.9181211382456956),
 np.float64(0.8954561547331655),
 np.float64(0.928356278064681),
 np.float64(0.8435455080873295),
 np.float64(1.0),
 np.float64(0.891001779983368),
 np.float64(1.0526234811584216),
 np.float64(1.0),
 np.float64(0.8951953227447083),
 np.float64(1.0363786719798933),
 np.float64(0.781708325555989),
 np.float64(1.0),
 np.float64(0.8754472455941663),
 np.float64(1.0),
 np.float64(1.1030381442920993),
 np.float64(0.9296463044449931),
 np.float64(0.8410298081793588),
 np.float64(0.7037646512095004),
 np.float64(1.0),
 np.float64(0.807608524027657),
 np.float64(0.8577224016938819),
 np.float64(0.8682547971415251),
 np.float64(0.895116007463091),
 np.float64(0.8776982357926332),
 np.float64(0.9410574939310482),
 np.float64(0.7542825176897926),
 np.float64(0.9155007056888642),
 np.float64(1.0),
 np.float64(0.9543302921234624),
 np.float64(0.886780040239182),
 np.float64(1.0),
 np.float64(0.9085305897561766),
 np.float64(1.1374085837243033),
 np.float64(0.9601976366423983),
 np.float64(0.9107574390393067),
 np.float64(1.0),
 np.float64(0.9537856559224864),
 np.float64(1.0519355629343006),
 np.float64(0.9057769815897974),
 np.float64(1.1139331787969124),
 np.float64(0.9563243530690745),
 np.float64(0.9144316013732551),
 np.float64(0.9092285326466274),
 np.float64(0.9190998807804891),
 np.float64(0.9177741377834988),
 np.float64(0.8072238158831408),
 np.float64(0.9611716765394042),
 np.float64(1.0),
 np.float64(0.835410921158589),
 np.float64(0.930828326613744),
 np.float64(0.8994172685277431),
 np.float64(1.0),
 np.float64(0.8279798793785617),
 np.float64(0.8386723676056287),
 np.float64(1.0),
 np.float64(1.0601313999205928),
 np.float64(0.7718248012962219),
 np.float64(0.7732628393448264),
 np.float64(0.9338970885502061),
 np.float64(0.9304123480219525),
 np.float64(0.9045915459993008),
 np.float64(0.921197688790411),
 np.float64(1.0),
 np.float64(0.9436765776855547),
 np.float64(0.8348294600566224),
 np.float64(0.9254026808370536),
 np.float64(1.291902553246312),
 np.float64(0.8510624473271173),
 np.float64(0.9259163981010651),
 np.float64(0.8735759085715474),
 np.float64(0.968475377827612),
 np.float64(1.0),
 np.float64(0.8770980264401946),
 np.float64(0.7734746671521752),
 np.float64(0.8280871005884711),
 np.float64(1.0),
 np.float64(0.887990300993052),
 np.float64(0.9169941321967101),
 np.float64(0.8743933571554872),
 np.float64(0.8838188838664096),
 np.float64(0.9197492366816258),
 np.float64(0.8887840801788708),
 np.float64(1.0),
 np.float64(0.9061741793136855),
 np.float64(0.8546743614982741),
 np.float64(1.0),
 np.float64(0.8638372752712054),
 np.float64(0.9167746185786712),
 np.float64(1.0070212506382492),
 np.float64(0.7979605306817777),
 np.float64(0.9033752732501463),
 np.float64(0.8733502843240644),
 np.float64(0.9158507544496948),
 np.float64(0.8385383575340459),
 np.float64(1.0),
 np.float64(0.8032970906135564),
 np.float64(0.8060397494893992),
 np.float64(0.94721129557425),
 np.float64(0.8985181050923852),
 np.float64(1.067032850432399),
 np.float64(1.0),
 np.float64(0.9042206259035359),
 np.float64(0.8652085493800017),
 np.float64(0.8214344073461662),
 np.float64(1.0),
 np.float64(0.8411656843277202),
 np.float64(0.8945880668865274),
 np.float64(1.0),
 np.float64(0.8754597360131353),
 np.float64(0.791025641025641),
 np.float64(0.9109190612815468),
 np.float64(0.7932146499495791),
 np.float64(0.8612767747917942),
 np.float64(1.0),
 np.float64(0.8823490075902107),
 np.float64(0.8941591958995644),
 np.float64(0.924044547468725),
 np.float64(0.7806865867369288),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.9271406296649393),
 np.float64(0.8359084251611597),
 np.float64(1.0),
 np.float64(0.8865749167750194),
 np.float64(0.8513380445223753),
 np.float64(1.0),
 np.float64(0.6241463578241326),
 np.float64(0.9318500756304015),
 np.float64(0.8141122160479342),
 np.float64(0.8980691420343538),
 np.float64(0.7876986432856097),
 np.float64(0.905516038113332),
 np.float64(0.9630351956432391),
 np.float64(1.0),
 np.float64(0.836281000193648),
 np.float64(0.8864810503171918),
 np.float64(0.8603671444508152),
 np.float64(0.9445176495960371),
 np.float64(0.8561065482942779),
 np.float64(1.0620173672946043),
 np.float64(0.9437204668492215),
 np.float64(0.8459342226960713),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8227333935024578),
 np.float64(0.8994746079878929),
 np.float64(0.8422666336725003),
 np.float64(0.7572720934480751),
 np.float64(1.0148815641048208),
 np.float64(0.8836018918644665),
 np.float64(0.9413191278335558),
 np.float64(1.0),
 np.float64(0.8535217461119802),
 np.float64(0.8883010215314686),
 np.float64(1.0),
 np.float64(0.8159681639414713),
 np.float64(1.0),
 np.float64(0.8475243757084028),
 np.float64(0.9204163273926126),
 np.float64(1.0),
 np.float64(0.8631363066113699),
 np.float64(1.0),
 np.float64(0.9285787593976387),
 np.float64(0.8021240609616099),
 np.float64(0.886981396862625),
 np.float64(0.9639742924896914),
 np.float64(0.8025632025652538),
 np.float64(0.8867509933426265),
 np.float64(0.9020779603091685),
 np.float64(0.8753120612200495),
 np.float64(0.8756614282690275),
 np.float64(0.9543839433632041),
 np.float64(0.9152171181962716),
 np.float64(0.9079615327649414),
 np.float64(0.9076731736199972),
 np.float64(0.8849428867597227),
 np.float64(0.9417257802210213),
 np.float64(1.0),
 np.float64(0.8904194066430802),
 np.float64(0.8319570007153635),
 np.float64(1.0),
 np.float64(0.9233756546012689),
 np.float64(0.7725907209035807),
 np.float64(0.9187293683164208),
 np.float64(1.0),
 np.float64(0.9351840403458578),
 np.float64(0.9012147467312017),
 np.float64(1.179495142361986),
 np.float64(0.9062881237053705),
 np.float64(0.8757399296724482),
 np.float64(0.8549818883004602),
 np.float64(0.9383523729277833),
 np.float64(1.0602700475566316),
 np.float64(0.880753922115173),
 np.float64(0.8387686050667273),
 np.float64(0.8890155444211136),
 np.float64(0.8398415790830642),
 np.float64(0.8660067503449382),
 np.float64(0.931392190455015),
 np.float64(0.9386018762563998),
 np.float64(0.8802361013693416),
 np.float64(0.8666288144203422),
 np.float64(1.0),
 np.float64(1.0100000781259155),
 np.float64(0.8903042478695026),
 np.float64(0.9372283278481051),
 np.float64(0.8707195421658228),
 np.float64(0.836508320713889),
 np.float64(0.8114164606409775),
 np.float64(0.932976546115199),
 np.float64(0.9247211083157144),
 np.float64(1.0),
 np.float64(0.9250977699138234),
 np.float64(0.9502339952251919),
 np.float64(0.9013463862510279),
 np.float64(0.7973019242093308),
 np.float64(1.0),
 np.float64(0.8974926679868763),
 np.float64(0.9095759411513569),
 np.float64(0.9668082101227693),
 np.float64(0.9671462384478505),
 np.float64(0.9556515703008188),
 np.float64(0.6754059375753996),
 np.float64(1.0),
 np.float64(0.9152507319149168),
 np.float64(0.8712927409918365),
 np.float64(0.9193780057179888),
 np.float64(0.9244697530912193),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(0.8568656580072648),
 np.float64(1.0),
 np.float64(0.9353001162604037),
 np.float64(0.8539177166770812),
 np.float64(0.8622626201116501),
 np.float64(0.8923214031417495),
 np.float64(1.0693675342783266),
 np.float64(0.9203536357735423),
 np.float64(0.9304983538537819),
 np.float64(1.0),
 np.float64(0.9022458872944584),
 np.float64(0.8558035594543502),
 np.float64(0.9225510891221333),
 np.float64(0.9038448699693211),
 np.float64(0.9291061372307273),
 np.float64(0.8155474905588267),
 np.float64(0.7344510945619411),
 np.float64(1.0),
 np.float64(1.0),
 np.float64(1.0224361783393279),
 np.float64(0.8256686162693112),
 np.float64(0.8824832360461291),
 np.float64(0.8941308323491605),
 np.float64(1.0921777197924953),
 np.float64(1.0792456832501092),
 np.float64(0.8793074391213036),
 np.float64(0.8800209944891073),
 np.float64(1.0672194096273104),
 np.float64(0.8613249509436927),
 np.float64(0.868986055977656),
 np.float64(0.9222592692515963),
 np.float64(0.913472614204663),
 np.float64(0.900291210153708),
 np.float64(0.8403993816212072),
 np.float64(0.9141715381979026),
 np.float64(0.8183194461322199),
 np.float64(0.8426660469888567),
 np.float64(0.8797372001588146),
 np.float64(0.7925408578494946),
 np.float64(1.0749219968587704),
 np.float64(1.1974875933512414),
 np.float64(0.8873961454290153),
 np.float64(0.8647615616787103),
 np.float64(0.8969562928003388),
 np.float64(1.0),

In [51]:
min(score)

np.float64(0.3940035986756365)

In [52]:
len(score)

61202

In [53]:
most_similar_user = score.index(min(score))

In [54]:
most_similar_user

53421

In [55]:
filtered_pivot_table.iloc[53421]

        anime_id
rating  1           0.0
        5           0.0
        6           0.0
        7           0.0
        15          0.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 64137, Length: 1720, dtype: float64

In [56]:
filtered_pivot_table.iloc[[53421]]

         rating                                                        ...  \
anime_id  1     5     6     7     15    16    18    19    20    22     ...
user_id                                                                ...
64137       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   8.0   0.0  ...


anime_id 32379 32380 32438 32542 32729 32828 32935 32998 33028 34240
user_id
64137      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1 rows x 1720 columns]

In [57]:
distance.cosine(filtered_pivot_table.iloc[most_similar_user], vector)

np.float64(0.3940035986756365)

In [58]:
# most_similar_user+=1

In [59]:
most_similar_user

53421

In [60]:
# score.pop(4071)

In [61]:
min(score)

np.float64(0.3940035986756365)

In [62]:
common_movie.iloc[60042]

        anime_id
rating  1           6.0
        5           6.0
        6           9.0
        7           0.0
        15          0.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 60184, Length: 1720, dtype: float64

In [63]:
common_movie_reset = common_movie.reset_index()

In [64]:
common_movie_reset

         user_id rating                                            ...        \
anime_id              1     5     6    7   15   16   18   19   20  ... 32379
0              1    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0 -1.0  ...   0.0
1              2    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0
2              3    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  8.0  ...   0.0
3              4    0.0   0.0  -1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0
4              5    0.0   0.0   8.0  0.0  6.0  0.0  6.0  0.0  6.0  ...   0.0
...          ...    ...   ...   ...  ...  ...  ...  ...  ...  ...  ...   ...
73335      73512    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0
73336      73513    9.0   8.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0
73337      73514    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0
73338      73515   10.0  10.0  10.0  0.0  0.0  0.0  0.0  9.0  0.0  ...   0.0
73339      73516    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0


anime_id 32380 32438 32542 32729 32828 32935 32998 33028 34240
0          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   7.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...   ...   ...   ...   ...
73335      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73336      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73337      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73338      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
73339      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[73340 rows x 1721 columns]

In [65]:
common_movie_reset.iloc[60043] #since we dropped the user we were taking as reference

         anime_id
user_id              60185.0
rating   1               8.0
         5               0.0
         6               7.0
         7               0.0
                      ...
         32828           0.0
         32935           0.0
         32998           0.0
         33028           0.0
         34240           0.0
Name: 60043, Length: 1721, dtype: float64

In [66]:
common_movie.iloc[60043]

        anime_id
rating  1           8.0
        5           0.0
        6           7.0
        7           0.0
        15          8.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 60185, Length: 1720, dtype: float64

In [67]:
# # Replace 'row_index' with the index of the row you're interested in
# row_index = 5  # Change this to your desired row index

# # Select the row using .loc[] and then filter for non-zero values
# non_zero_values = common_movie.loc[row_index][common_movie.loc[row_index] != 0]

In [68]:
my_ratings

array([0., 0., 8., ..., 0., 0., 0.])

In [69]:
row_index = most_similar_user

non_zero_values = filtered_pivot_table.iloc[row_index][filtered_pivot_table.iloc[row_index] != 0]

In [70]:
non_zero_values

        anime_id
rating  20          8.0
        121         7.0
        227         5.0
        269         8.0
        874         5.0
        1535        7.0
        1575        7.0
        11757       7.0
        16498       7.0
        19815       7.0
Name: 64137, dtype: float64

In [71]:
common_movie.loc[3]

        anime_id
rating  1           0.0
        5           0.0
        6           0.0
        7           0.0
        15          0.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 3, Length: 1720, dtype: float64

In [72]:
common_movie.iloc[most_similar_user].loc[common_movie.iloc[most_similar_user]!=0]
# common_movie.iloc[row_index][common_movie.iloc[row_index] != 0]

        anime_id
rating  7            8.0
        27           8.0
        30           7.0
        61           8.0
        101         -1.0
        121          9.0
        129         10.0
        164          8.0
        177          8.0
        199          9.0
        205          9.0
        228          8.0
        245         10.0
        335          7.0
        356          9.0
        431         10.0
        457          8.0
        476          7.0
        486          9.0
        856          9.0
        918         10.0
        934         10.0
        940          7.0
        1482        10.0
        1535        10.0
        1559         8.0
        1571         9.0
        1575         9.0
        1698         8.0
        1889        10.0
        1965         8.0
        2001        10.0
        2246         7.0
        2251         9.0
        2418         8.0
        2904        10.0
        2952         8.0
        2966         9.0
        3298         8.0
        3457         8.0
        3588         9.0
        3958         9.0
        4081         8.0
        4752         9.0
        4884         7.0
        4898         9.0
        5081         9.0
        5341         8.0
        5355         8.0
        5630         9.0
        6007         7.0
        6746         8.0
        6880         8.0
        9253        10.0
Name: 53545, dtype: float64

In [73]:
common_movie.loc[60043]

        anime_id
rating  1           0.0
        5           0.0
        6           0.0
        7           0.0
        15          0.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 60043, Length: 1720, dtype: float64

In [74]:
common_movie.iloc[60043]

        anime_id
rating  1           8.0
        5           0.0
        6           7.0
        7           0.0
        15          8.0
                   ...
        32828       0.0
        32935       0.0
        32998       0.0
        33028       0.0
        34240       0.0
Name: 60185, Length: 1720, dtype: float64

In [75]:
recm = pd.DataFrame(non_zero_values)
recm

                 64137
       anime_id
rating 20          8.0
       121         7.0
       227         5.0
       269         8.0
       874         5.0
       1535        7.0
       1575        7.0
       11757       7.0
       16498       7.0
       19815       7.0

In [76]:
recm.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('rating', np.int64(20)) to ('rating', np.int64(19815))
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   64137   10 non-null     float64
dtypes: float64(1)
memory usage: 78.3+ KB

In [77]:
recm.reset_index(inplace=True)

In [78]:
recm

  level_0  anime_id  64137
0  rating        20    8.0
1  rating       121    7.0
2  rating       227    5.0
3  rating       269    8.0
4  rating       874    5.0
5  rating      1535    7.0
6  rating      1575    7.0
7  rating     11757    7.0
8  rating     16498    7.0
9  rating     19815    7.0

In [79]:
recm.drop('level_0', axis=1, inplace=True)

In [80]:
recm.rename(columns={64137: 'Ratings'}, inplace=True)

In [81]:
recm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10 non-null     int64
 1   Ratings   10 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 292.0 bytes

In [82]:
recm

   anime_id  Ratings
0        20      8.0
1       121      7.0
2       227      5.0
3       269      8.0
4       874      5.0
5      1535      7.0
6      1575      7.0
7     11757      7.0
8     16498      7.0
9     19815      7.0

In [83]:
recm.set_index(['anime_id'], inplace=True)

In [84]:
recm

          Ratings
anime_id
20            8.0
121           7.0
227           5.0
269           8.0
874           5.0
1535          7.0
1575          7.0
11757         7.0
16498         7.0
19815         7.0

In [85]:
id=recm.loc[recm['Ratings']>=7].index
id

Index([20, 121, 269, 1535, 1575, 11757, 16498, 19815], dtype='int64', name='anime_id')

In [86]:
anime = pd.read_csv('/Users/owais/Jupyter_Notebook/archive-2/anime.csv')

In [87]:
anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [88]:
recommendations = anime[anime["anime_id"].isin(id)]

In [89]:
recommendations

,anime_id,name,genre,type,episodes,rating,members
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
40,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
118,19815,No Game No Life,"Adventure, Comedy, Ecchi, Fantasy, Game, Super...",TV,12,8.47,602291
200,121,Fullmetal Alchemist,"Action, Adventure, Comedy, Drama, Fantasy, Mag...",TV,51,8.33,600384
582,269,Bleach,"Action, Comedy, Shounen, Super Power, Supernat...",TV,366,7.95,624055
804,11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
841,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

In [90]:
recommendations[~recommendations["anime_id"].isin(aw_custom)]

,anime_id,name,genre,type,episodes,rating,members
40,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917
200,121,Fullmetal Alchemist,"Action, Adventure, Comedy, Drama, Fantasy, Mag...",TV,51,8.33,600384
804,11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
841,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

In [95]:
recommendations[recommendations["anime_id"].isin(aw_custom)]

,anime_id,name,genre,type,episodes,rating,members
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
118,19815,No Game No Life,"Adventure, Comedy, Ecchi, Fantasy, Game, Super...",TV,12,8.47,602291
582,269,Bleach,"Action, Comedy, Shounen, Super Power, Supernat...",TV,366,7.95,624055

In [91]:
len(aw_custom)

5

In [92]:
len(common_movie)

73340

In [93]:
anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [94]:
anime[anime['name'].str.contains('kyojin',case=False)]

,anime_id,name,genre,type,episodes,rating,members
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
125,25781,Shingeki no Kyojin: Kuinaki Sentaku,"Action, Fantasy, Shoujo, Supernatural",OVA,2,8.45,92543
673,2761,Densetsu Kyojin Ideon: Hatsudou-hen,"Drama, Mecha, Sci-Fi, Space",Movie,1,7.90,2963
717,18397,Shingeki no Kyojin OVA,"Action, Drama, Fantasy, Shounen, Super Power",OVA,3,7.88,121063
961,23777,Shingeki no Kyojin Movie 2: Jiyuu no Tsubasa,"Action, Drama, Fantasy, Shounen, Super Power",Movie,1,7.75,26958
1069,23775,Shingeki no Kyojin Movie 1: Guren no Yumiya,"Action, Drama, Fantasy, Shounen, Super Power",Movie,1,7.70,31990
1443,5096,Doraemon Movie 28: Nobita to Midori no Kyojin Den,"Adventure, Comedy, Fantasy, Kids, Shounen",Movie,1,7.54,1651
2954,5834,Kyojin no Hoshi,"Drama, Sports",TV,182,7.12,729
3016,930,Densetsu Kyojin Ideon,"Drama, Mecha, Sci-Fi, Space",TV,39,7.10,5517
3185,31374,Shingeki! Kyojin Chuugakkou,"Comedy, Parody, School, Shounen",TV,12,7.06,52928
3533,19285,Shingeki no Kyojin: Ano Hi Kara,"Action, Drama, Fantasy, Shounen, Super Power",Special,1,6.96,49593
3677,33041,Bubuki Buranki: Hoshi no Kyojin,"Action, Drama, Mecha, Sci-Fi",TV,12,6.91,10837
4090,19391,Shingeki no Kyojin Picture Drama,"Comedy, Parody",Special,9,6.81,26363
5167,3114,Chiisana Kyojin Microman,"Action, Adventure, Comedy, Kids, Mecha, Sci-Fi...",TV,52,6.53,411
5715,2760,Densetsu Kyojin Ideon: Sesshoku-hen,"Drama, Mecha, Sci-Fi, Space",Movie,1,6.37,1740
8345,24269,Chiisana Kyojin Microman: Daigekisen! Microman...,"Action, Adventure, Mecha, Sci-Fi, Shounen, Sup...",Movie,1,4.69,93
9357,17439,Kyojin no Hoshi (Movie),"Drama, Sports",Movie,1,6.13,109
9358,17441,Kyojin no Hoshi: Chizome no Kesshousen,"Drama, Sports",Movie,1,6.25,100
9359,17445,Kyojin no Hoshi: Dai League Ball,"Drama, Sports",Movie,1,5.86,101
9360,17443,Kyojin no Hoshi: Ike Ike Hyuuma,"Drama, Sports",Movie,1,6.57,100
9361,17447,Kyojin no Hoshi: Shukumei no Taiketsu,"Drama, Sports",Movie,1,4.75,87
10225,15875,Shin Kyojin no Hoshi,Sports,TV,52,6.77,165
10226,16486,Shin Kyojin no Hoshi II,Sports,TV,23,6.91,145
10392,9965,Soukou Kyojin Z-Knight,Mecha,OVA,1,5.13,110
10899,25777,Shingeki no Kyojin Season 2,"Action, Drama, Fantasy, Shounen, Super Power",TV,Unknown,NaN,170054